input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
          appearance: textfield;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
  min-width: 0;
}

legend {
  display: block;
  padding: 0;
  margin-bottom: 0.5rem;
  width: 100%;
}

.input-group.error .error-message {
  display: block;
}
.input-group.error .user-input {
  border: 2px solid #e17052;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.input-label,
.custom-label,
.error-message,
.user-input,
.user-input-custom,
.result-title,
.result-subtitle,
.result-number,
.reset {
  font-weight: 700;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  line-height: 1.5;
  font-family: "Space Mono", monospace;
  background: #c5e4e7;
  min-height: 100vh;
}
@media (min-width: 90em) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.title {
  margin-top: 3.125rem;
  text-align: center;
}
@media (min-width: 90em) {
  .title {
    margin-top: 0;
  }
}

.calculator {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2.5rem auto;
  max-width: 38rem;
  width: 100%;
  background: #fff;
  padding: 2rem 1.5rem;
  border-top-left-radius: 1.5625rem;
  border-top-right-radius: 1.5625rem;
}
@media (min-width: 48em) {
  .calculator {
    padding: 3.0625rem 5rem;
    border-bottom-left-radius: 1.5625rem;
    border-bottom-right-radius: 1.5625rem;
  }
}
@media (min-width: 90em) {
  .calculator {
    width: 57.5rem;
    max-width: 100%;
    flex-direction: row;
    gap: 3rem;
    padding: 2rem 2.5rem;
  }
}

.input {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 28.5625rem;
  margin: 0 auto;
  width: 100%;
}
@media (min-width: 48em) {
  .input {
    max-width: 28.5625rem;
  }
}
@media (min-width: 90em) {
  .input {
    max-width: 23.6875rem;
    width: 100%;
    gap: 2.5rem;
  }
}

.input-group {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.head-wrapper {
  display: flex;
  justify-content: space-between;
}

.radio-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
@media (min-width: 48em) {
  .radio-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

.input-label {
  color: #5e7a7d;
}

.error-message {
  display: none;
  color: #e17052;
}

.user-input {
  width: 100%;
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  outline: none;
  background: #f4fafb;
  border-radius: 0.3125rem;
  font-size: 1.5rem;
  color: #00494d;
  text-align: right;
  cursor: pointer;
}
.user-input:focus {
  border: 2px solid #26c0ab;
}

.input-icon {
  position: absolute;
  top: 3rem;
  left: 1.1875rem;
  width: 0.8125rem;
}

.tip-option {
  position: relative;
}

.user-select {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  cursor: pointer;
  margin: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.user-select:checked + .select-label {
  background: #26c0ab;
  color: #00494d;
}

.user-input-custom {
  width: 100%;
  height: 100%;
  background: #f4fafb;
  border-radius: 0.3125rem;
  outline: none;
  border: 2px solid transparent;
  padding: 0.375rem 0.5rem;
  text-align: right;
  font-size: 1.5rem;
  color: #00494d;
}
.user-input-custom::-moz-placeholder {
  text-align: center;
  color: #547878;
}
.user-input-custom::placeholder {
  text-align: center;
  color: #547878;
}
.user-input-custom:focus {
  border: 2px solid #26c0ab;
}

.select-label {
  position: relative;
  z-index: 1;
  display: block;
  font-size: 1.5rem;
  background: #00494d;
  color: #fff;
  padding: 0.375rem 0;
  width: 100%;
  text-align: center;
  border-radius: 0.5rem;
}
@media (min-width: 90em) {
  .select-label {
    padding: 0.5rem 0;
  }
}

.result {
  background: #00494d;
  padding: 1.5rem;
  border-radius: 0.9375rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 28.5625rem;
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 48em) {
  .result {
    margin: 0 auto;
    width: 100%;
    padding: 1.5rem 2rem;
  }
}
@media (min-width: 90em) {
  .result {
    max-width: 25.8125rem;
    width: 100%;
    justify-content: center;
  }
}

.result-group {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 90em) {
  .result-group {
    align-items: center;
  }
}

.result-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.result-title {
  color: #fff;
}

.result-subtitle {
  color: #7f9c9f;
}

.result-number {
  color: #26c0ab;
  font-size: 2rem;
  letter-spacing: -0.041875rem;
}
@media (min-width: 90em) {
  .result-number {
    font-size: 3rem;
  }
}

.reset {
  width: 100%;
  background: #0d686d;
  color: #085c61;
  text-transform: uppercase;
  padding: 0.5rem 0;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  cursor: pointer;
  border: none;
  box-shadow: 0px 3px 3px #000;
}
@media (min-width: 90em) {
  .reset {
    margin-top: 6.5rem;
  }
}