// Breakpoints
$breakpoints: (
  mobile: 23.4375em,
  // 375px
  tablet: 48em,
  // 768px
  desktop: 90em, // 1440px
);

// Mixin
@mixin mq($device) {
  @media (min-width: map-get($breakpoints, $device)) {
    @content;
  }
}

// Function to convert px to rem
@function rem($px) {
  @return ($px / $font-size-base) * 1rem;
}

// Color
$white: #fff;
$black: #000;
$grey50: #f4fafb;
$grey200: #c5e4e7;
$grey400: #7f9c9f;
$grey500: #5e7a7d;
$grey550: #547878;
$green400: #26c0ab;
$green750: #0d686d;
$green800: #085c61;
$green900: #00494d;
$red400: #e17052;

// Typography
$font-size-base: 16; // px
$line-height-base: 1.5;
$font-weight-bold: 700;
$font-family: "Space Mono", monospace;

// Remove default arrows (spin buttons) from number inputs
// For Chrome, Safari, Edge, and Opera
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
// For Firefox
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
  min-width: 0;
}

legend {
  display: block;
  padding: 0;
  margin-bottom: rem(8);
  width: 100%;
}

.input-group.error {
  .error-message {
    display: block;
  }
  .user-input {
    border: 2px solid $red400;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.input-label,
.custom-label,
.error-message,
.user-input,
.user-input-custom,
.result-title,
.result-subtitle,
.result-number,
.reset {
  font-weight: $font-weight-bold;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: rem(16);
  line-height: $line-height-base;
  font-family: $font-family;
  background: $grey200;
  min-height: 100vh;

  @include mq(desktop) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.title {
  margin-top: rem(50);
  text-align: center;

  @include mq(desktop) {
    margin-top: 0;
  }
}

.calculator {
  display: flex;
  flex-direction: column;
  gap: rem(32);
  margin: rem(40) auto;
  max-width: rem(608);
  width: 100%;
  background: $white;
  padding: rem(32) rem(24);
  border-top-left-radius: rem(25);
  border-top-right-radius: rem(25);

  @include mq(tablet) {
    padding: rem(49) rem(80);
    border-bottom-left-radius: rem(25);
    border-bottom-right-radius: rem(25);
  }

  @include mq(desktop) {
    width: rem(920);
    max-width: 100%;
    flex-direction: row;
    gap: rem(48);
    padding: rem(32) rem(40);
  }
}

.input {
  display: flex;
  flex-direction: column;
  gap: rem(32);
  max-width: rem(457);
  margin: 0 auto;
  width: 100%;

  @include mq(tablet) {
    max-width: rem(457);
  }

  @include mq(desktop) {
    max-width: rem(379);
    width: 100%;
    gap: rem(40);
  }
}

.input-group {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: rem(8);
}

.head-wrapper {
  display: flex;
  justify-content: space-between;
}

.radio-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: rem(16);

  @include mq(tablet) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.input-label {
  color: $grey500;
}

.error-message {
  display: none;
  color: $red400;
}

.user-input {
  width: 100%;
  padding: rem(8) rem(16);
  border: 2px solid transparent;
  outline: none;
  background: $grey50;
  border-radius: rem(5);
  font-size: rem(24);
  color: $green900;
  text-align: right;
  cursor: pointer;

  &:focus {
    border: 2px solid $green400;
  }
}

.input-icon {
  position: absolute;
  top: rem(48);
  left: rem(19);
  width: rem(13);
}

.tip-option {
  position: relative;
}

.user-select {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  cursor: pointer;
  margin: 0; // Reset default browser spacing
  appearance: none; // Remove default radio styling

  &:checked + .select-label {
    background: $green400;
    color: $green900;
  }
}

.user-input-custom {
  width: 100%;
  height: 100%;
  background: $grey50;
  border-radius: rem(5);
  outline: none;
  border: 2px solid transparent;
  padding: rem(6) rem(8);
  text-align: right;
  font-size: rem(24);
  color: $green900;

  &::placeholder {
    text-align: center;
    color: $grey550;
  }

  &:focus {
    border: 2px solid $green400;
  }
}

.select-label {
  position: relative;
  z-index: 1;
  display: block;
  font-size: rem(24);
  background: $green900;
  color: $white;
  padding: rem(6) 0;
  width: 100%;
  text-align: center;
  border-radius: rem(8);

  @include mq(desktop) {
    padding: rem(8) 0;
  }
}

.result {
  background: $green900;
  padding: rem(24);
  border-radius: rem(15);
  display: flex;
  flex-direction: column;
  gap: rem(24);
  max-width: rem(457);
  width: 100%;
  margin: 0 auto;

  @include mq(tablet) {
    margin: 0 auto;
    width: 100%;
    padding: rem(24) rem(32);
  }

  @include mq(desktop) {
    max-width: rem(413);
    width: 100%;
    justify-content: center;
  }
}

.result-group {
  display: flex;
  justify-content: space-between;

  @include mq(desktop) {
    align-items: center;
  }
}

.result-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.result-title {
  color: $white;
}

.result-subtitle {
  color: $grey400;
}

.result-number {
  color: $green400;
  font-size: rem(32);
  letter-spacing: rem(-0.67);

  @include mq(desktop) {
    font-size: rem(48);
  }
}

.reset {
  width: 100%;
  background: $green750;
  color: $green800;
  text-transform: uppercase;
  padding: rem(8) 0;
  border-radius: rem(8);
  margin-top: rem(8); // 24px + 8px
  cursor: pointer;
  border: none;
  box-shadow: 0px 3px 3px $black;

  @include mq(desktop) {
    margin-top: rem(104); // 24px + 104px
  }
}
